section(
  data-background-image="img/chirp.png"
  data-background-opacity="0.5")
  
  section
    h1 LoRa
    +arr

  section(data-background-video="mp4/LoRa.mp4")

  +sec_b
    h2 LoRa
    h4 Long Range
    blockquote.
      Методика модуляции радио-сигнала, устойчивая к помехам и позволяющая с минимальными затратами энергии передавать данные на большие расстояния

  +sec_b
    h2 Преимущества
    ul
      +li Энергоэффективность
      +li Высокая дальность
      +li Хорошее проникновение в городской застройке
      +li Устойчивость к шуму / интерференции
      +li Не требует лицензирования частот

  +sec_b
    h2 Специфика
    ul
      +li Низкая пропускная способность

section(
  data-background-image="img/network.jpg"
  data-background-opacity="0.5")

  section
    h1 LoRaWAN
    +arr

  +sec_b
    h4 Long Range Wide Area Network
    blockquote.
      Открытый стандарт глобальной сети на базе LoRa, определяющий способы коммуникации, адресацию устройств, шифрование, передачу данных в интернет

  +sec_b
    h4 Long Range Wide Area Network
    img(src="img/lora_01.jpg")

  +sec_b
    h4 LoRaWAN
    h3 Насчитывает 148 провайдеров в 162 странах
        
  section(data-auto-animate)
    h4 LoRaWAN / TTN coverage
    img(src="img/ttn_world.jpg")
  
  +sec_b
    h4 LoRaWAN / TTN coverage
    img(src="img/lorawan_europe.png")

  +sec_b
    h4 LoRaWAN / TTN coverage
    img(src="img/lorawan_russia.png")

  +sec_b
    h4 LoRaWAN / TTN coverage
    img(src="img/moscow_ttn.jpg")

  +sec_b
    h4 LoRaWAN end node ~ $3
    img(src="img/lora_module.png")
 
  +sec_b
    h4 LoRaWAN base station ~ $300 - 1 000
    img(src="img/lora_gw.jpg")
      
  +sec_b
    h4 4G base station ~ $20 000 - 90 000
    img(src="img/4g_bs.jpg")
      

  section(data-auto-animate)
    h4 MTS
    img(src="img/MTS.png")
      
section(
  data-state="blur-bg"
  data-background-image="img/lora_expo.jpg"
  data-background-opacity="0.5")
  section
    h1 LoRa Alliance
    h4 Создан в 2015
    h4 Состоит из&nbsp;
      a(href="https://lora-alliance.org/member-directory") более 500 компаний
    h4 Среди них IBM, Amazon, Alibaba, Cisco

  section
    h2 LoRa Alliance
    img(src="img/lora_alliance.jpg")

