section(
  data-background-image="img/bg_01.jpg"
  data-background-opacity="0.5")
  +sec_a
    h1 LoRa
    h4: a(href="http://ailove-lab.github.io/lora/") ailove-lab.github.io/lora
  +sec_ab
    h1 LoRa
    h4 Энерго-эффективная сеть дальнего радиуса действия
  +sec_ab
    h1 LoRa
    h4 Это что-то вроде WiFi<br>но совсем не тратит электричество<br>и работает на километры
      
section(
  data-background-image="img/bg_01.jpg"
  data-background-opacity="0.5"
  data-state="blur-bg")
  h2 План
  h4.fragment Интернет вещей
  h4.fragment Сети интернета вещей
  h4.fragment Технологии LoRa
  h4.fragment Концепция умнного города
