section(
  data-background-image="img/bg_01.jpg"
  data-background-opacity="0.5")
  section
    h1 Заключение
    +arr

  +sec_ab: h3 <b>Интернет вещей</b> не про WiFi чайники
  +sec_ab: h3 Он вообще не про людей
  +sec_ab: h3 Это история о том, как мы наделили неживое способностью мыслить и дали ему голос
  +sec_ab: h3 И прямо сейчас, на наших глазах, у городов зарождается новая нервная система
  +sec_ab: h3 Каждой клетке этого организма, каждому зданию, квартире, улице, фонарю, машине на дороге - есть что рассказать городу
  +sec_ab: h3 И технологии созданные для людей здесь плохо подходят
  +sec_ab: h3 Поэтому появилась <b>LoRa</b> - сеть для общения машин, способная объеденить миллиарды устройств
      
section(
  data-background-image="img/bg_01.jpg"
  data-background-opacity="0.5")
  
  section 
    h2 Ссылки по теме
    +arr

  +sec_b
    h2 Умный город
    ul
      li: a(href="https://www.mos.ru/upload/alerts/files/3_Tekststrategii.pdf") Стратегия - Москва-2030
      li: a(href="https://ict.moscow") Портал ICT.Moscow
      li: a(href="https://www.smartnation.gov.sg/what-is-smart-nation/initiatives/Strategic-National-Projects") Сингапур / Smart Nation
      li: a(href="https://amsterdamsmartcity.com/themes/digital-city/projects") Амстердам / Smart City

  +sec_b
    h2 LoRa кейсы
    ul
      li: a(href="https://www.semtech.com/lora/lora-applications") Semtech
      li: a(href="https://www.youtube.com/watch?v=E4dvTAti3Js") Сравнение LPWAN сетей
      li: a(href="https://www.youtube.com/watch?v=vDGkbFrxjhE") Проблематика LPWAN

  +sec_b
    h2 LoRa технология
    ul
      li: a(href="https://www.youtube.com/watch?v=BOc3N3Yl38o") Подробно о технологии
      li: a(href="https://www.thethingsnetwork.org/article/lorawan-distance-world-record") Рекорд дальности 766км
      li: a(href="https://www.youtube.com/channel/UCu7_D0o48KbfhpEohoP7YSQ") Эксперименты с LoRa
      li: a(href="https://www.youtube.com/watch?v=NoquBA7IMNc") Реверс-инжиниринг стандарта
      li: a(href="https://www.youtube.com/watch?v=60bJfvHETnA&feature=share") LoRa для разработчиков
      li: a(href="https://drive.google.com/file/d/1Inr3HZlWukLSjOISn7IOawiF6n0jYt9j/view") LoRa в ЖКХ
       
  +sec_b
    h2 Оборудование
    ul
      li: a(href="https://lora-alliance.org/showcase") LoRa Alliance
      li: a(href="https://www.thethingsnetwork.org/marketplace/products/devices") The Things Network
      li: a(href="https://aliexpress.ru/af/lora%25252dmodule.html?d=y&origin=n&SearchText=lora-module") AliExpress


section(
  data-background-image="img/bg_01.jpg"
  data-background-opacity="0.5")
  h2 Спасибо!
